<div class="block p-6 rounded-lg shadow-lg bg-white">
  <h2 class="text-4xl">Mortgage Calculator</h2>
  <div class="grid grid-cols-3 gap-2">
    <app-range-item name="Purchase price" type="money" (rangeValue)="purchase = $event"></app-range-item>
    <app-range-item name="Down payment" type="money" (rangeValue)="downPayment = $event"></app-range-item>
    <app-range-item name="Repayment time" (rangeValue)="repayment = $event">years</app-range-item>
    <app-range-item name="Interest rate" type="rate" (rangeValue)="interest = $event"></app-range-item>

    <app-result-item label="Loan amount" value="{{loanAmount | currency}}"></app-result-item>
    <app-result-item label="Estimated pr.month" value="{{prMonthly | currency}}"></app-result-item>
  </div>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  (click)="getMortgageQuote()">Get a mortgage quote</button>
</div>